# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Django
db.sqlite3
.env
media/
staticfiles/

# Coverage
.coverage
coverage.xml
htmlcov/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# virtual environments
env/
venv/
ENV/
.venv/